<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:krpc="http://krpc.org/schema/krpc"
  
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
       http://krpc.org/schema/krpc
       http://krpc.org/schema/krpc.xsd ">

	<bean  class="krpc.test.rpc.schema.UserServiceImpl"/>
	<bean  class="krpc.test.rpc.schema.TestBeanWebPlugin"/>

	<krpc:application name="testapp"  />
	
<!-- 	
	<krpc:registry type="etcd" addrs="1.1.1.1:1111" />

	<krpc:server/>
-->
<krpc:server/>
<krpc:webserver>
	 <krpc:plugin params="jedissessionservice:addrs=127.0.0.1:1111"  />
	 <krpc:plugin params="memorysessionservice"  />
	 <krpc:plugin params="testbean"  />
</krpc:webserver>
		
	<krpc:service interfaceName="com.xxx.userservice.proto.UserService"  >
		<krpc:method pattern="login|updateProfile"  />
	</krpc:service>
	
</beans>