<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
  
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
 ">

	<bean class=" krpc.test.rpc.xml.UserServiceImpl"/>
	<bean  class="krpc.test.rpc.xml.TestBeanWebPlugin"/>

	<bean class="krpc.rpc.bootstrap.spring.ServiceConfigBean">
		<property name="interfaceName" value="com.xxx.userservice.proto.UserService"/>
	</bean>

	<bean class="krpc.rpc.bootstrap.spring.ServerConfigBean">
		<property name="port" value="5600"/>
	</bean>
	<bean class="krpc.rpc.bootstrap.spring.WebServerConfigBean">
		<property name="port" value="8888"/>
		<property name="pluginParams">
			 <list>
			 <value>jedissessionservice:addrs=127.0.0.1:1111</value>
             <value>memorysessionservice</value>
             <value>testbean</value>
           </list>
		</property>
	</bean>


</beans>