<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
  
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
 ">

	<bean id="app" class="krpc.bootstrap.spring.ApplicationConfigBean">
		<property name="name" value="testapp"/>
	</bean>
	
	<bean  class="krpc.bootstrap.spring.ClientConfigBean">
	</bean>
		
	<bean id="userService" class="krpc.bootstrap.spring.RefererConfigBean">
		<property name="interfaceName" value="com.xxx.userservice.proto.UserService"/>
	</bean>

</beans>