<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:krpc="http://krpc.org/schema/krpc"
  
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
       http://krpc.org/schema/krpc
       http://krpc.org/schema/krpc.xsd ">

	<bean id="userService" class=" krpc.test.rpc.schema.UserServiceImpl"/>
	

	<krpc:application name="testapp" mockFile="abc" flowControl="memory"/>
	
<!-- 	
	<krpc:registry type="etcd" addrs="1.1.1.1:1111" />

	<krpc:server/>
-->
	<krpc:service interfaceName="com.xxx.userservice.proto.UserService" impl="userService">
		<krpc:method pattern="login|updateProfile" flowControl="5=10"/>
	</krpc:service>
	
</beans>